In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [11]:
#!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 5.8 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [12]:
#!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ------------------------------------ --- 1.0/1.2 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 5.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [19]:
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [20]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [21]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [22]:
import pandas as pd

First, let's write a meaningful query.

In [27]:
query = '''
select d.opioid_drug_flag, SUM(p.total_claim_count) as highest_county_claim, zf.fipscounty, fc.county, fc.state, Round(SUM(p.total_claim_count)/pop.population,2) as prescription_per_capita
from prescription as p
Inner Join drug as d
on d.drug_name=p.drug_name
inner join prescriber as pr
on p.npi=pr.npi
inner join zip_fips as zf
on pr.nppes_provider_zip5=zf.zip
left join fips_county as fc
on zf.fipscounty=fc.fipscounty
inner join population as pop
on fc.fipscounty=pop.fipscounty
where opioid_drug_flag = 'Y' and fc.state = 'TN'
group by 1,3,4,5,pop.population
order by prescription_per_capita DESC
'''

Now, bring it all together using the following syntax.

In [28]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people

,opioid_drug_flag,highest_county_claim,fipscounty,county,state,prescription_per_capita
0,Y,44689.0,47127,MOORE,TN,7.09
1,Y,60726.0,47087,JACKSON,TN,5.25
2,Y,23578.0,47175,VAN BUREN,TN,4.15
3,Y,29060.0,47169,TROUSDALE,TN,3.31
4,Y,63335.0,47133,OVERTON,TN,2.88
...,...,...,...,...,...,...
90,Y,3216.0,47161,STEWART,TN,0.24
91,Y,6170.0,47097,LAUDERDALE,TN,0.23
92,Y,2371.0,47039,DECATUR,TN,0.20
93,Y,3675.0,47057,GRAINGER,TN,0.16
94,Y,220.0,47095,LAKE,TN,0.03

In [29]:
import plotly.express as px

In [30]:
# need to make changes
fig = px.scatter(
    people,
    x='prescriptions_per_capita',
    y='total_opioid_prescriptions',
    size='total_opioid_prescriptions',
    color='total_opioid_prescriptions',
    hover_name='county',
    title="top opioid per capita and county"
)
fig.update_layout(width=1000, height=600)
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['opioid_drug_flag', 'highest_county_claim', 'fipscounty', 'county', 'state', 'prescription_per_capita'] but received: prescriptions_per_capita

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python